version: '3.5'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile-web
    ports:
      - 80:8080
    volumes:
    - ./:/var/www/html
    environment:
      XDEBUG_CONFIG: "remote_host=172.17.0.1 remote_enable=1"
      PHP_IDE_CONFIG: "serverName=Docker"
    depends_on: [rabbit]
    networks:
      - app-network

  rabbit:
    hostname: rabbitmq
    build:
      context: .
      dockerfile: Dockerfile-rabbit
    ports:
      - 15672:15672
    networks:
      - app-network

  redis:
    hostname: redis:alpine
    volumes:
    - ./DB_DATA/redis:/data
    image: redis
    networks:
      - app-network

  mysql:
    hostname: db
    image: 'mysql:8.0'
    volumes:
    - ./DB_DATA/mysql:/var/lib/mysql
    environment:
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
